.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.header-menu{
    list-style: none;
     display: flex;
     gap: 2rem;
     color: white;
}

.header-menu li a {
    text-decoration: none;
    color: white;
  }
  
  .header-menu li a:hover {
    cursor: pointer;
    color: #C2F851; 
  }